.filter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}

.toggles {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
  width: 80%;
  max-width: 750px;
}

.toggles label {
  color: #1a237e;
  font-weight: bold;
}

[type="checkbox"]:checked + span:not(.lever)::before {
  border-right-color: #1a237e;
  border-bottom-color: #1a237e;
}

.input-field {
  display: flex;
  margin-top: 0;
}

.clear-search-btn {
  background: none;
  border: none;
  cursor: pointer;
  height: 40px;
  margin-top: 0.25rem;
  margin-left: -2.5rem;
  z-index: 10;
}

.clear-search-btn:focus {
  background: none;
}

.feed-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  width: 80%;
  max-width: 750px;
  min-height: 4.5rem;
}

.card-panel {
  display: block;
  cursor: pointer;
  padding: 1rem;
  text-align: center;
  color: #1a237e;
  width: 100%;
}

.card-panel:hover,
.card-panel:focus {
  background-color: #bbbbbb;
}

.card-panel.unread {
  border-left: 4px solid #1a237e;
  font-weight: bold;
}

.card-panel p {
  margin: 0;
}

.card-panel p + p {
  font-weight: normal;
}

.feed-skeleton {
  display: block;
  margin: 1.5rem auto;
  width: 80%;
  max-width: 750px;
  min-height: 4.5rem;
}

/* Mobile */
@media (max-width: 37.5em) {
  .card-panel:hover,
  .card-panel:focus {
    background-color: initial;
  }
}
